/* global */
html {
  line-height: 1.5;
}

.ac-sa {
  align-content: space-around;
}

/* align items: baseline, center */
.ai-b {
  align-items: baseline;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

/* align self: center */
.as-c {
  align-self: center;
}

/* background: cover, no repeat */
.b-c {
  background-size: cover;
}

.b-nr {
  background-repeat: no-repeat;
}

/* bottom position: stuck */
.bp-s {
  bottom: 0;
}

.bs-i {
  box-sizing: inherit;
}

/* display: block; flex box, flex box direction columns, no wrap, wrap, */
.d-b {
  display: block;
}

.d-n {
  display: none;
}

.d-f {
  display: flex;
}

.df-fdc {
  flex-direction: column;
}

.df-fdr {
  flex-direction: row;
}

.df-nw {
  flex-wrap: nowrap;
}

.df-w {
  flex-wrap: wrap;
}

.f-n {
  flex: none;
}

/* float: left */
.fl-l {
  float: left;
}

/* height: full, full viewport, half, minimal */
.h-f {
  height: 100%;
}
.h-fv {
  height: 100vh;
}
.h-h {
  height: 50%;
}
.h-m {
  height: 10%;
}

/* justfy content: center, flex-end, space-evenly, space-between */
.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sb {
  justify-content: space-between;
}

/* justify items: center */
.ji-c {
  justify-items: center;
}

/* margin: large, medium, small */
.m-l {
  margin: 5%;
}

.m-m {
  margin: 3%;
}

.m-s {
  margin: 1.5%;
}

/* min-height: auto, full, full viewport */
.mnh-a {
  min-height: auto;
}
.mnh-f {
  min-height: 100%;
}
.mnh-fv {
  min-height: 100vh;
}

/* min width: auto, full, full viewport, 40% */
.mnw-a {
  min-width: auto;
}
.mnw-f {
  min-width: 100%;
}
.mnw-fv {
  min-width: 100vw;
}
.mnw-40 {
  min-width: 40%;
}

/* margin-right: small */
.mr-s {
  margin-right: 1%;
}

/* margin-top: large, double extra large */
.mt-l {
  margin-top: 5%;
}

.mt-xxl {
  margin-top: 10%;
}

/*max height: auto, full, full viewport, inherit */
.mxh-a {
  max-height: auto;
}
.mxh-f {
  max-height: 100%;
}
.mxh-fv {
  max-height: 100vh;
}
.mxh-i {
  max-height: inherit;
}

/* max width: auto, full, full viewport, inherit, 40% */
.mxw-a {
  max-width: auto;
}
.mxw-f {
  max-width: 100%;
}
.mxw-fv {
  max-width: 100vw;
}
.mxw-i {
  max-width: inherit;
}
.mxw-40 {
  max-width: 40%;
}

/* overflow: scroll */
.of-s {
  overflow: auto;
}

/* padding: large, medium, small */
.p-l {
  padding: 5%;
}

.p-m {
  padding: 2%;
}

.p-s {
  padding: 1%;
}

/* padding-right: small */
.pr-s {
  padding-right: 1%;
}

/* position: absolute, fixed, relative */
.p-a {
  position: absolute;
}

.p-f {
  position: fixed;
}

.p-r {
  position: relative;
}

.rz-n {
  resize: none;
}

/* text align" center */
.ta-c {
  text-align: center;
}

/* top position: stuck */
.tp-s {
  top: 0;
}

/* width: full, full viewport, half */
.w-f {
  width: 100%;
}

.w-fv {
  width: 100vw;
}
.w-h {
  width: 50%;
}

/* white-space: no wrap; */
.ws-nw {
  white-space: nowrap;
}

/* z-index: position 1*/
.z-1 {
  z-index: 1;
}
