
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  /* align content: space around */
  
  /* border: solid (large, medium, small) */
  .bd-n {
    border: none;
  }
  .bd-s-l {
    border: solid 10%;
  }

  .bd-s-m {
    border: solid 4%;
  }

  .bd-s-s {
    border: solid 1%;
  }

  .br {
    border-radius: 10%;
  }

  /* font family */
  .ff-1 {
    font-family: 'Sarabun', sans-serif;

  }

  .ff-2 {
    font-family: 'Darker Grotesque', sans-serif;
  }

  .ff-3 {
    font-family: 'DM Sans', sans-serif;
  }

  .ff-4 {
    font-family: 'Oswald', sans-serif
  }

  
  /* text style: italicized */
  .fs-i {
    font-style: italic;
  }

  .fs-b {
    font-weight: 600;
  }

  .fs-n {
    font-style: normal;
  }

  /* font size: jumbo, large, medium, small */
  .fz-jj{
    font-size: 300%;
  }
  
  .fz-j {
    font-size: 200%;
  }

  .fz-l {
    font-size: 100%;
  }

  .fz-m {
    font-size: 70%;
  }

  .fz-s {
    font-size: 50%;
  }


  /* opacity heavy, medium, light */
  .o-h {
    opacity: 0.75;
  }

  .o-m {
    opacity: 0.5;
  }

  .o-l {
    opacity: 0.25;
  }

   /* shadow */
   .s {
    box-shadow: 5px 5px 10px rgba(107,152,255,.3);
    -webkit-box-shadow: 5px 5px 14px rgba(107,152,255,.3);
    -moz-box-shadow: 5px 5px 10px rgba(107,152,255,.3);
  }


  /* text decoration: none */
  .td-n {
    text-decoration: none;
  }

  /* text indent */
  .t-i {
    text-indent: 2%;
  }

 


  /* ------------------ON FOCUS ------------------ */
  
  /* grow, shrink */
  .t-g-fc:focus {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-fc:focus {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-fc:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* ------------------ ON HOVER ------------------ */
 
  /* grow, shrink */
  .t-g-hv:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-hv:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-hv:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }


/* color palette */
.c-ow { color: rgb(233,110,80) }
.c-pri-0 { color: rgba(35,47,76,1) }	/* Main Primary color */
.c-pri-1 { color: rgba(203,211,230,1) }
.c-pri-2 { color: rgba(0,27,90,1) }
.c-pri-3 { color: rgba(107,152,255,1) }
.c-pri-4 { color: rgba(0,59,196,1) }

/* color palette */
.bgc-pri-0 { background-color: rgba(35,47,76,1) }	/* Main Primary color */
.bgc-pri-1 { background-color: rgba(203,211,230,1) }
.bgc-pri-2 { background-color: rgba(0,27,90,1) }
.bgc-pri-3 { background-color: rgba(107,152,255,1) }
.bgc-pri-4 { background-color: rgba(0,59,196,1) }


/* gradients: fading white, white to dark blue, white to light blue */
.bg-g-fb {
  background: linear-gradient(
    rgba(107,152,255,1),
    rgba(255, 255, 255, 1)
     100%
  );
}
.c-g-wdb {
 
  background: -webkit-linear-gradient(rgb(35, 47, 76), rgb(0, 59,196) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.g-wlb {
  background: linear-gradient(rgb(255, 255, 255), rgb(197, 255, 255) 100%);
}
  
  html {
  line-height: 1.5;
}

.ac-sa {
  align-content: space-around;
}

/*alignment */
.ai-b {
  align-items: baseline;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

.as-c {
  align-self: center;
}

/* justfy content: center, flex-end, space-evenly, space-between */
.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sb {
  justify-content: space-between;
}

/* justify items: center */
.ji-c {
  justify-items: center;
}


/* text align" center */
.ta-c {
  text-align: center;
}

/* background: cover, no repeat */
.b-c {
  background-size: cover;
}

.b-nr {
  background-repeat: no-repeat;
}

/* height: full, full viewport, half, minimal */
.h-f {
  height: 100%;
}
.h-fv {
  height: 100vh;
}
.h-h {
  height: 50%;
}
.h-m {
  height: 10%;
}


/* min-height: auto, full, full viewport */
.mnh-a {
  min-height: auto;
}
.mnh-f {
  min-height: 100%;
}
.mnh-fv {
  min-height: 100vh;
}

/* min width: auto, full, full viewport, 40% */
.mnw-a {
  min-width: auto;
}
.mnw-f {
  min-width: 100%;
}
.mnw-fv {
  min-width: 100vw;
}
.mnw-40 {
  min-width: 40%;
}


/*max height: auto, full, full viewport, inherit */
.mxh-a {
  max-height: auto;
}
.mxh-f {
  max-height: 100%;
}
.mxh-fv {
  max-height: 100vh;
}
.mxh-i {
  max-height: inherit;
}

/* max width: auto, full, full viewport, inherit, 40% */
.mxw-a {
  max-width: auto;
}
.mxw-f {
  max-width: 100%;
}
.mxw-fv {
  max-width: 100vw;
}
.mxw-i {
  max-width: inherit;
}
.mxw-40 {
  max-width: 40%;
}

/* width: full, full viewport, half */
.w-f {
  width: 100%;
}

.w-fv {
  width: 100vw;
}
.w-h {
  width: 50%;
}






/* margin: large, medium, small */
.m-l {
  margin: 5%;
}

.m-m {
  margin: 3%;
}

.m-s {
  margin: 1.5%;
}
/* margin-right: small */
.mr-s {
  margin-right: 1%;
}

/* margin-top: large, double extra large */
.mt-l {
  margin-top: 5%;
}

.mt-xxl {
  margin-top: 10%;
}
/* padding: large, medium, small */
.p-l {
  padding: 5%;
}

.p-m {
  padding: 2%;
}

.p-s {
  padding: 1%;
}

/* padding-right: small */
.pr-s {
  padding-right: 1%;
}











/* position: absolute, fixed, relative */

/* bottom position: stuck */
.bp-s {
  bottom: 0;
}

.p-a {
  position: absolute;
}

.p-f {
  position: fixed;
}

.p-r {
  position: relative;
}

/* top position: stuck */
.tp-s {
  top: 0;
}

/* z-index: position 1*/
.z-1 {
  z-index: 1;
}





.bs-i {
  box-sizing: inherit;
}

.rz-n {
  resize: none;
}
/* white-space: no wrap; */
.ws-nw {
  white-space: nowrap;
}
/* overflow: scroll */
.of-s {
  overflow: auto;
}




/* layout */
.d-g {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.d-b {
  display: block;
}

.d-n {
  display: none;
}

.d-f {
  display: flex;
}

.df-fdc {
  flex-direction: column;
}

.df-fdr {
  flex-direction: row;
}

.df-nw {
  flex-wrap: nowrap;
}

.df-w {
  flex-wrap: wrap;
}

.f-n {
  flex: none;
}

/* float: left */
.fl-l {
  float: left;
}
}