
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .bd-n {border:none;}
  .bd-s-l {border:solid 10%;}
  .bd-s-m {border:solid 4%;}
  .bd-s-s {border:solid 1%;}
  .br {border-radius:10%;}

  .ff-1 {font-family: 'Sarabun', sans-serif;}
  .ff-2 {font-family: 'Darker Grotesque', sans-serif;}
  .ff-3 {font-family: 'DM Sans', sans-serif;}
  .ff-4 {font-family: 'Oswald', sans-serif;}

  .fs-i {font-style: italic;}
  .fs-b {font-weight: 600;}
  .fs-n {font-style: normal;}

  .fz-jjj {font-size: 500%;}  
  .fz-jj {font-size: 300%;}  
  .fz-j {font-size: 200%;}
  .fz-l {font-size: 100%;}
  .fz-m {font-size: 70%;}
  .fz-s {font-size: 50%;}

  .iz-i {min-width: 100px; min-height: 100px;}

  .o-h {opacity: 0.75;}
  .o-m {opacity: 0.5;}
  .o-l {opacity: 0.25;}

  .ol-n{outline:none;}
  
  .s {
    box-shadow: 5px 5px 10px rgba(107,152,255,.3);
    -webkit-box-shadow: 5px 5px 14px rgba(107,152,255,.3);
    -moz-box-shadow: 5px 5px 10px rgba(107,152,255,.3);
  }

  .td-n {text-decoration: none;}
  .ti-s {text-indent: 2%;}

  /* ------------------ON FOCUS ------------------ */
  
  /* grow, shrink */
  .t-g-fc:focus {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-fc:focus {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-fc:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* ------------------ ON HOVER ------------------ */
 
  /* grow, shrink */
  .t-g-hv:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-hv:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-hv:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

/* color palette */
.c-ow { color: rgb(233,110,80) }
.c-pri-0 { color: rgba(35,47,76,1) }	/* Main Primary color */
.c-pri-1 { color: rgba(203,211,230,1) }
.c-pri-2 { color: rgba(0,27,90,1) }
.c-pri-3 { color: rgba(107,152,255,1) }
.c-pri-4 { color: rgba(0,59,196,1) }

/* color palette */
.bgc-pri-0 { background-color: rgba(35,47,76,1) }	/* Main Primary color */
.bgc-pri-1 { background-color: rgba(203,211,230,1) }
.bgc-pri-2 { background-color: rgba(0,27,90,1) }
.bgc-pri-3 { background-color: rgba(107,152,255,1) }
.bgc-pri-4 { background-color: rgba(0,59,196,1) }
.bgc-pri-5 { background-color: rgb(173, 208, 255) }

/* gradients: fading white, white to dark blue, white to light blue */
.bg-g-fb {background: linear-gradient(rgba(107,152,255,1),rgba(255, 255, 255, 1) 100%);}
.bg-g-fbh {background: linear-gradient(to right, rgb(107,152,255,1),rgba(255, 255, 255, 1) 90%);}

.c-g-wdb { 
  background: -webkit-linear-gradient(rgb(35, 47, 76), rgb(0, 59,196) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.g-wlb {background: linear-gradient(rgb(255, 255, 255), rgb(197, 255, 255) 100%);}
}